<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Questions">
  <ion-content class="padding">
    <p>
      {{currentQuestion+1}}.{{questions[currentQuestion].question}}
    </p>
    <label class="item item-input item-stacked-label">

	<textarea placeholder="answer" rows="8" cols="10" ng-model="questions[currentQuestion].answer"></textarea>
    </label>
    <div class="bar">
      <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()" ng-hide="currentQuestion == 0">Back</button>
      <button class="button icon-right ion-chevron-right button-clear button-dark" ng-click="next()" ng-hide="questions.length -1 == currentQuestion">Next</button>
    </div>

  </ion-content>
</ion-view>
