<ion-view view-title="{{survey.name}}">
    <ion-content class="padding">
        <p>
            {{survey.description}}
        </p>
        <button class="button button-full button-positive">
            Launch Survey
        </button>
    </ion-content>
</ion-view>